<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= config.title %></title>
  <!-- checking hostname -->
  <% if (config.url !== 'https://' + config.projectID + '.firebaseapp.com') { %>
  <script>
    if (window.location.hostname === '<%= config.projectID %>.firebaseapp.com') {
      window.location.href = '<%= config.url %>';
    }
  </script>
  <% } %>

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.png?<%= timestamp %>">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200" rel="stylesheet">

  <!-- normalize-css -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet">

  <!-- DOM4 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dom4/1.8.3/dom4.js"></script>

  <!-- flexibility -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flexibility/2.0.1/flexibility.js"></script>

  <!-- firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>

  <!-- emmet -->
  <script src="https://cloud9ide.github.io/emmet-core/emmet.js"></script>

  <!-- ace-builds -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ace.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ext-old_ie.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ext-language_tools.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ext-emmet.js"></script>

  <!-- firepad -->
  <link href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" rel="stylesheet">
  <script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>

  <% if (bundleCSS){ %>
  <link rel="stylesheet" href="<%= bundleCSS %>">
  <% } %>
</head>
<body>
  <div id="__container"></div>
  <script src="<%= bundleJS %>"></script>
</body>
</html>
