<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= config.title %></title>
  <!-- checking hostname -->
  <% if (config.url !== 'https://' + config.projectID + '.firebaseapp.com') { %>
  <script>
    if (window.location.hostname === '<%= config.projectID %>.firebaseapp.com') {
      window.location.href = '<%= config.url %>';
    }
  </script>
  <% } %>

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.png?<%= timestamp %>">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400" rel="stylesheet">

  <!-- normalize-css -->
  <link href="/libs/normalize-css/normalize.css" rel="stylesheet">

  <!-- DOM4 -->
  <script src="/libs/DOM4/dom4.js"></script>

  <!-- flexibility -->
  <script src="/libs/flexibility/flexibility.js"></script>

  <!-- firebase -->
  <script src="/libs/firebase/firebase.js"></script>

  <!-- emmet -->
  <script src="/libs/emmet/emmet.js"></script>

  <!-- ace-builds -->
  <script src="/libs/ace-builds/ace.js"></script>
  <script src="/libs/ace-builds/ext-old_ie.js"></script>
  <script src="/libs/ace-builds/ext-language_tools.js"></script>
  <script src="/libs/ace-builds/ext-emmet.js"></script>

  <!-- firepad -->
  <link href="/libs/firepad/firepad.css" rel="stylesheet">
  <script src="/libs/firepad/firepad.min.js"></script>

  <% if (bundleCSS){ %>
  <link rel="stylesheet" href="<%= bundleCSS %>">
  <% } %>
</head>
<body>
  <div id="__container"></div>
  <script src="<%= bundleJS %>"></script>
</body>
</html>
